<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>



  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="/css/style.css">
  <div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
      <a href="/quiz" class="w3-bar-item w3-button"><b>POLITIC.</b> Architects</a>
      <!-- Float links to the right. Hide them on small screens -->
      <div class="float-right">
        <a href="#questionsDiv" class="btn btn-primary" id="navStart"> Start Quiz</a>
        <a href="/about" class="w3-bar-item w3-button">About Us</a>
        <a href="/login" class="w3-bar-item w3-button mr-2">Login</a>

      </div>
    </div>
  </div>

</head>

<body>