<%-include("partials/header.ejs")%>

<h1> THIS IS THE INDEX PAGE </h1>

<a href="/quiz1" class="btn btn-primary"> Start Quiz</a>

<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
    <img class="w3-image" src="/uploads/slide-1.jpg" alt="Political Architects" width="1500" height="800">
    <div class="w3-display-middle w3-margin-top w3-center">
      <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>Who's Your 2020 Nominee?</b></span></h1>
    </div>
  </header>
  
  <!-- Page content -->
  <div class="w3-content w3-padding" style="max-width:1564px">
  
    <!-- Project Section -->
    <div class="w3-container w3-padding-32" id="projects">
      <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Take the Quiz</h3>
    </div>
  
    <div class="w3-row-padding">
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
            <div class="row">
                <div class="col s12 m7">
                  <div class="card">
                    <div class="card-image">
                      <img src="/images/harris.jpg">
                      <span class="card-title">Kamala Harris</span>
                    </div>
                    <div class="card-content">
                      <p>xxxxx</p>
                    </div>
                    <div class="card-action">
                      <a href="#">Retake the Quiz</a>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </div>

      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/oSZjzsgtlQ0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>

      </div>
    </div>

  <!-- End page content -->
  </div>

<%-include("partials/footer.ejs")%>