<%-include("partials/header.ejs")%>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">


      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto" id="loginForm">
        <div class="card card-signin my-5">
          <div class="card-body">
            <p class="card-title text-center text-uppercase">Enter your email to see your results</p>
            <form class="form-signin" action="/api/posts" method="POST">
              <div class="form-label-group">
                <input type="email" id="inputlogin" name="email" class="form-control" placeholder="Email Address"
                  required autofocus>
                <label for="inputlogin">Email Address </label>

              </div>
              <div class="form-label-group">
                <input type="text" id="inputLoginPassword" name="password" class="form-control" placeholder="Password"
                  required>
                <label for="inputLoginPassword">Password</label>
              </div>

              <button class="btn btn-lg btn-primary btn-block text-uppercase" id="login" type="submit">Log in</button>
            </form>
          </div>
        </div>
      </div>
    </div>


  </div>

</div>

<style>
  body {
    background-color: royalblue;
  }
</style>

<%-include("partials/footer.ejs")%>