<%-include("partials/header.ejs")%>

<h1>Second Group of questions goes here</h1>



<a href="/quiz1" id="backToQuiz1" class="btn btn-warning"> Previous Page</a>
<button type="submit" id="pageTwoAnswers" class="btn btn-primary">Save Answers</button>
<a href="/quiz3" id="toQuiz3" class="btn btn-success"> Next Page</a>

<%-include("partials/footer.ejs")%>