<%-include("partials/header.ejs")%>

<h1>Sixth Group of questions goes here</h1>


<a href="/quiz5" id="backToQuiz5" class="btn btn-warning"> Previous Page</a>
<button type="submit" id="pageSixAnswers" class="btn btn-primary">Save Answers</button>
<a href="/quiz7" id="toQuiz7" class="btn btn-success"> Next Page</a>

<%-include("partials/footer.ejs")%>