<%-include("partials/header.ejs")%>


<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image" src="/uploads/slide-1.jpg" alt="Political Architects" width="1500" height="800">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>Who's Your 2020
          Nominee?</b></span></h1>
  </div>
</header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- Project Section -->
  <div class="w3-container w3-padding-32" id="projects">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Take the Quiz</h3>
  </div>


</div>
</div>

<!-- End page content -->
</div>


<div id="quizSection">
  <div id="questionsDiv">
    <div class="container">
      <div class="row">
        <div class="col-12">


          <div class=" col-lg-8 mx-auto" id="loginForm">
            <div class="card card-signin my-5">
              <div class="card-body">
                <p class="card-title text-center text-uppercase">Provide your email to take the quiz</p>
                <div class="form-signin">
                  <div class="form-label-group">
                    <input type="email" id="email" name="email" class="form-control" placeholder="Email Address"
                      required>
                    <label for="email">Email Address </label>
                  </div>


                  <button class="btn btn-lg btn-primary btn-block text-uppercase" id="startQuiz" type="submit">Start
                    Quiz</button>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>

    </div>

    <!-- <h1>CRIMINAL JUSTICE</h1>

    <form method="POST">
      <div>
        <h3>Question 1</h3>
        <h5>Do you support the decriminalization of marijuana</h5>
        <label for="for"><input name="marijuana" value="10" type="radio" required>FOR</label>
        <label for="against"><input name="marijuana" value="1" type="radio">AGAINST</label>
        <label for="neutral"><input name="marijuana" value="5" type="radio">NEUTRAL</label>

      </div>


      <div>
        <h3>Question 2</h3>
        <h5>Should gun purchasers be vetted through background checks? </h5>
        <label for="for"><input name="guns" value="10" type="radio" required>FOR</label>
        <label for="against"><input value="1" name="guns" type="radio">AGAINST</label>
        <label for="neutral"><input name="guns" value="5" type="radio">NEUTRAL</label>

      </div>

      <div>
        <h3>Question 3</h3>
        <h5>Do you support abolishing the death penalty?</h5>
        <label for="for"><input name="death" value="10" type="radio" required>FOR</label>
        <label for="against"><input value="1" name="death" type="radio">AGAINST</label>
        <label for="neutral"><input name="death" value="5" type="radio">NEUTRAL</label>

      </div>


      <button type="submit" class="btn btn-primary submitQuestions" id="criminalJustice" disabled="disabled">Next
        Questions</button> -->
  </div>

  <div class="w3-col l3 m6 w3-margin-bottom" id="results">
    <div class="w3-display-container">
      <iframe width="600" height="400" src="https://www.youtube.com/embed/oSZjzsgtlQ0" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

</div>


<%-include("partials/footer.ejs")%>