<%-include("partials/header.ejs")%>

<h1>Third Group of questions goes here</h1>



<a href="/quiz2" id="backToQuiz2" class="btn btn-warning"> Previous Page</a>
<button type="submit" id="pageThreeAnswers" class="btn btn-primary">Save Answers</button>
<a href="/quiz4" id="toQuiz4" class="btn btn-success"> Next Page</a>

<%-include("partials/footer.ejs")%>