<%-include("partials/header.ejs")%>

<H1>RESULTS PAGE</H1>

<a href="/register" class="btn btn-primary">Register to Save Profile</a>





<meta charset="utf-8" />

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>

  <body>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    <script src="https://cdn.rawgit.com/uscensusbureau/citysdk/Release1.1/js/citysdk.js"></script>
    <script src="https://cdn.rawgit.com/uscensusbureau/citysdk/Release1.1/js/citysdk.census.js"></script>

    <script src="draw.js"></script>
  </body>
</html>





<%-include("partials/footer.ejs")%>